<!--Login form is based on the link, https://getbootstrap.com/docs/4.3/components/forms/-->
<div class="container-sm">
     <form class="login-form">
          <div class="form-group">
               <label for="emailInput">Username</label>
               <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email" size="25">
          </div>
          <br/>
          <div class="form-group">
               <label for="passwordInput">Password</label>
               <input type="password" class="form-control" id="passwordInput" placeholder="Password" size="25">
          </div>
           <br/>
          <button type="button" class="btn btn-primary">Submit</button>
     </form>
</div>



