<div class="container-sm">
     <form class="login-form">
          <div class="form-group">
               <label for="firstnamesignup">First Name</label>
               <input type="input" class="form-control" id="firstnamesignup" placeholder="First Name" size="25">
          </div>
          <br/>
          <div class="form-group">
               <label for="lastnamesignup">Last Name</label>
               <input type="input" class="form-control" id="lastnamesignup" placeholder="Last Name" size="25">
          </div>
          <br/>
          <div class="form-group">
               <label for="emailsignup">Username</label>
               <input type="email" class="form-control" id="emailsignup" aria-describedby="emailHelp" placeholder="Enter email" size="25">
          </div>
          <br/>
          <div class="form-group">
               <label for="passwordsignup">Password</label>
               <input type="password" class="form-control" id="passwordsignup" placeholder="Password" size="25">
          </div>
           <br/>
           <div class="form-group">
               <label for="confirmpasswordsignup">Confirm Password</label>
               <input type="password" class="form-control" id="confirmpasswordsignup" placeholder="Confirm Password" size="25">
          </div>
          <br/>
          <button type="button" class="btn btn-primary" id="signupbtn">Sign-Up</button>
     </form>
</div>